
#rstudio_branding_bar {
display:none;
}
 
#rstudio_branding_bar_spacer {
display:none;
}

* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

